body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;       
    background:linear-gradient(to right, rgb(11, 94, 143) , rgb(0, 81, 255));
}

.borderluarimg {
    width: 600px;
    border: 4px solid black;
    padding: 20px;
    box-sizing: border-box;
    background: url(moroccan-flower.png);

}


#title {
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    color: #333;
    text-transform: uppercase;
    font-size: 30px;
}

.profile img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.PerkenalanBox {
    border: 3px solid #86a3bdad;
    padding: 10px;
    width: 260px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    background-color: #c0d1e0ad;
    box-shadow: #333 2px 2px 5px;
    box-sizing: border-box;
}

.deskripsi-singkat {
    margin-top: -20px;
    margin-bottom: -15px;
    font-family: 'Arial Black', sans-serif;
    justify-content: center;
}

.Subjudul {
    text-align: center;
    color: #ff0000;
    text-decoration:  black underline;
    text-underline-offset: 10px;
    font-size: 30px;
    margin-bottom: 10px;
}

.deskripsi{
    color: #333;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.container {
    justify-content: center;
    display: flex;
    align-items: center;   
    gap: 20px;             
    margin-top: 20px;
    place-items: center;
}

.PerkenalanBox2 {
    margin-top: 20px;
    border: 3px solid #86a3bdad;
    padding: 10px;
    width: 480px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    background-color: #c0d1e0ad;
    box-shadow: #333 2px 2px 5px;
    box-sizing: border-box;
}

.identitas {
    margin: 5px 5px 5px 20px;
    list-style-type: none;
    padding: 0;
    font-family: 'Delari';
    color: #333;
    line-height: 2;
    font-size: 20px;
}

.isiTengah {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#future {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cita2 {
    text-align: center;
    font-size: 18px;
    color: #333;
    line-height: 1.4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

